.header{
    margin-top: 50px;
}

.header nav a{
    text-decoration: none;
    margin-right: 20px;
    font-size: x-large;
    background-color: rgb(124, 32, 211);
    padding: 10px 16px;
    border-radius: 58px;
    color: whitesmoke;
}


.header nav a:hover{
    background-color: orangered;
}